// dimension
$screenWidth: 1920px;
$screenHeight: 1080px;

$telopWidth: 100%;
$telopHeight: 100px;

$slideshowWidth: 1260px;
$slideshowHeight: $screenHeight - $telopHeight;

$sideViewWidth: $screenWidth - $slideshowWidth;
$sideViewHeight: $slideshowHeight;

@mixin slideshowPos {
  top: 0;
  left: $sideViewWidth;
}

@mixin sideViewPos {
  top: 0;
  left: 0;
}

@mixin telopPos {
  left: 0;
  bottom: 0;
}

// color
$_brightness: 25%;

$disasterColor: #FF0000;
$disasterColorL: lighten($disasterColor, $_brightness);
$delayColor : #e1e100;
$delayColorL: lighten($delayColor, $_brightness);
$onTimeColor: #9cff6b;
$onTimeColorL: lighten($onTimeColor, $_brightness);
$hasteColor : #49dfff;
$hasteColorL: lighten($hasteColor, $_brightness);
