<div class="fullsize" id="telop-sideviews">
  <div id="telop-cinema" class="telop-place"
       ng-controller="CinemaSideviewCtrl as ctrl">
    <ng-include src="'./partials/sideview/_impl.html'"></ng-include>
  </div>
  <div id="telop-awagin" class="telop-place"
       ng-controller="AwaginSideviewCtrl as ctrl">
    <ng-include src="'./partials/sideview/_impl.html'"></ng-include>
  </div>
  <div id="telop-poppo" class="telop-place">
    <ng-include src="'./partials/sideview/_calonly.html'"></ng-include>
  </div>
  <div id="telop-corne" class="telop-place"
       ng-controller="CorneSideviewCtrl as ctrl">
    <ng-include src="'./partials/sideview/_impl.html'"></ng-include>
  </div>
</div>
